body {
    padding: 1% 20%;
    font-family: 'Fira Mono', monospace;
    background: linear-gradient(rgba(47, 47, 255, 0.725), rgba(51, 125, 253, 0.83), rgb(0, 157, 255), rgb(51, 187, 255), rgb(28, 213, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    line-height: 50px;
}

img.logo {
    vertical-align: middle;
}


.inputs {
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.659);
    border-radius: 10px;
}

input[type="text"] {
    margin: 8px 0px;
    padding: 10px 6px;
    border: none;
    border-radius: 4px;
    width: 65%;

}

button[type="button"],
button[type="submit"] {
    font-family: monospace;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: rgb(229, 176, 0);
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: rgb(253, 194, 0);
}


button:disabled:hover {
    background-color: rgb(229, 176, 0);
    cursor: not-allowed;
}

.res-inputs {
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: #6ae687c4;
    border-radius: 10px;
    border: solid 2px #31c754;
}

#trxidtxtbox {
    background: none;
    border: none;
    border: dotted 1px grey;
    width: 95%;
}

#cpimg {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 auto;
}